*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.zip

# C
*.o
*.a
a.out
*.swp
*.swo
*.cmake
*.pb-c.c
*.pb-c.h
vhpc
/c/executer/executer
/c/organizer/organizer
lib
Makefile
sdk
CMakeFiles
CMakeCache.txt
